.menu{
  background: #fff;
  &__list{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__item{
    &--active{
      background: #fcfcfc;
      border-bottom: 3px solid #d2414b;
      padding: 25px 20px 21px;
    }
    &:hover{
      background: #efefef;
    }
    transition: .3s all;
    border-bottom: 4px solid transparent;
  }
  &__link{
    display: block;
    text-decoration: none;
    padding: 25px 20px 21px;
    color: inherit;
    
  }
}