@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
       url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto'),
       url('/fonts/Roboto/Roboto-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto'),
       url('/fonts/Roboto/Roboto-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto'),
       url('/fonts/Roboto/Roboto-Light.ttf') format('truetype'), /* Safari, Android, iOS */
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  background: #fafafa;
  color: #3a3a3a;
  height: 100%;
  font-size: 16px;
}
*{
  box-sizing: border-box;
}
.App{
  min-height: 100vh;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.container{
  width: 1170px;
  margin: 0 auto;
  display: flex;
}
.content{
  padding: 40px 0;
}
.main__container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.main{
  width: 71%;
}
.btn{
  cursor: pointer;
  transition: .3s all;
  display: block;
  width: 180px;
  height: 40px;
  background: #D23641;
  text-align: center;
  line-height: 36px;
  color: #fff;
  border: none;
  border: 2px solid #D23641;
}
.btn:hover{
  background: transparent;
  color: #D23641;
}